html{
    background-image: linear-gradient(to top left, #42275a, #734b6d);
    height: 100%;
}
body {
    font-family: "Lato", sans-serif;
    
  }
  
  /*SIDE NAV BAR */
  .sidenav {
    height: 100%;
    width: 100px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(17, 17, 17, 0.3);
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  .sidenav div.active {
    margin: 0;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
  }


  .sidenav a {
    padding: 6px 8px 6px 8px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    text-align: center;
  }
  
  .sidenav a:hover {
    /*color: #ff0000;*/
    background-color: rgba(255, 0, 0, 0.2);
    border-radius: 55%;
    box-shadow: 0 0 100px rgba(255,0,0);
  }

  .sidenav a:active {
    background-color: rgba(255, 0, 0, 0.2);
    border-radius: 55%;
    box-shadow: 0 0 100px rgba(255,0,0);
  }


  /*TOP NAV BAR */
  .navbar {
    overflow: hidden;
  }
  
  .navbar a {
    float: right;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .dropdown {
    float: right;
    overflow: hidden;
    margin: 2%
  }
  
  .dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: red;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(255, 0, 0, 0.2);
    z-index: 1;
    
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  

  /*MAIN PAGE*/

  .main {
    margin-left: 100px; /* Same as the width of the sidenav */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
  }

  /* SEARCH BAR */

  .search-container {
    float: left;
    background-color: rgba(51, 51, 51, .8);
    padding: 8px 16px;
    border-radius: 25px;
    margin: 1.5% 0% 0% 0%;
  }

  .wrapper {
    position: relative;
    display: flex;
    min-width: 250px;
  }
  
  .search {
    border: 1px solid grey;
    border-radius: 5px;
    height: 25px;
    width: 100%;
    padding: 2px 23px 2px 30px;
    outline: 0;
    color: white;
    background-color: #f5f5f5;
  }
  
  .search-icon {
    position: absolute;
    top: 8px;
    left: 8px;
    width: 14px;
  }
  
  .clear-icon {
    position: absolute;
    top: 9px;
    right: 8px;
    width: 12px;
    cursor: pointer;
    visibility: hidden;
  }
  
  .search:hover, .search:focus {
    /*border: 1px solid #009688;*/
  }

  input[type="text"]
  {
      background: transparent;
      border: none;
  }

  ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: grey;
    opacity: 1; /* Firefox */
  }


  /* Search result container */
  .searchresult {
    float: left;
    font-size: 15px;
    color: white;
    background-color: rgba(51, 51, 51, .8);
    padding: 8px 16px;
    border-radius: 25px;
    margin: 0% 0% 1.5% 1.5%;
  }
  #closeSearchOpt {
    color: red;
  }
  #closeSearchOptTag {
    color: red;
  }
  #content {
    clear: both;
  }


/*Data container*/

  /*.dataContainer{
      overflow: hidden;
    }
    
  .dataContainer a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
  }*/

  .contBorder{
    background-color: rgba(51, 51, 51, .8);
    padding: 28px 1px;
    border-radius: 25px;
  }

  .dataContainer{
    clear:both;
    padding: 8px;
    text-align: left;
    color: white;
    font-size: 16px;
  }
  
  .dataContainer a {
    position: left;
    padding-top: 80px;
    padding-right: 40px;
    padding-bottom: 80px;
    padding-left: 40px;
  }

  /*
  table, th, td {
    background-color: rgba(51, 51, 51, .4);
    border-collapse: collapse;
    table-layout: fixed;
    word-wrap: break-word;
  }
  
  th {
    background-color: transparent;
    text-align: left;
    font-size: 20px;
    padding-top: 40px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
  }
  
  td {
    background-color: transparent;
    text-align: left;
    font-size: 20px;
    padding-top: 50px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }

  /*#table-wrapper {
    position:relative;
  }
  
  #table-scroll {
    height: calc( 100vh - 120px );
    overflow-y:scroll;  
    overflow-x:hidden;
    margin-top:20px;
  }
  #table-wrapper table {
    width:100%;
  }

  #table-wrapper table thead th .text {
    position:absolute;   
    top:-20px;
    z-index:23;
    height:210px;
    width:35%;
  } */

/*tbody {
    height: calc( 100vh - 200px );
    overflow-y: auto;
}*/
table{
  background-color: rgba(51, 51, 51, .8);
  border-radius: 25%;
}
table, tr td {
  border-collapse: collapse;
  table-layout: fixed;
}
th {
  text-align: left;
  font-size: 20px;
  padding-top: 40px;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;
}
td {
  background-color: transparent;
  text-align: left;
  font-size: 17px;
  padding-top: 50px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  vertical-align: middle;
}
thead{
  pointer-events: none;
  color:white;
}
tbody {
  display: block;
  height: calc( 100vh - 200px );
  overflow: auto;
  font-size: 20px;
  color:grey;
}
thead, tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;/* even columns width , fix width of table too*/
}

/*#dataTableBody tr:last-child:hover td:last-child:hover {
  background-color: #ddd;
  border-radius: 0% 25% 25% 0%;
}

#dataTableBody tr:first-child:hover td:first-child:hover {
  background-color: #ddd;
  border-radius: 25% 0% 0% 25%;
}*/

/*
#itemRow :not(:first-child):not(:last-child):hover {
  background-color: #000;
}
#itemRow td:first-child:hover {
  background-color: #ddd;
}
#itemRow td:last-child:hover {
  background-color: #ddd;
} */

/* Table hover highlight */
table tr:hover {background-color: #121214;}

td:first-child,
#itemRow:first-child {
  border-radius: 25px 25px 25px 25px;
}

#itemRow:not(:first-child):not(:last-child) {
  border-radius: 25px 25px 25px 25px;
}

td:last-child,
#itemRow:last-child {
  border-radius: 25px 25px 25px 25px;
}

/* Clickable tags colour white*/
#clickableTag{
  color:white;
  user-select:none;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: rgba(18, 18, 18, .9);
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  color: white;
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #aaaaaa;
  text-decoration: none;
  cursor: pointer;
}





